.collection-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    .collection-title {
        font-weight: 600;
        padding-bottom: 5px;
        &:hover {
            cursor: pointer;
        }
    }
    .collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}