.shop-container {
    height: 100vh;
    // background: #e9e9e9;
    background: #fbfbfb;
    display: flex;
    flex-direction: column;
    .shop-collections {
        margin: 30px 0 10px 25px;
        height: 95%;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // flex-wrap: wrap;
        padding: 50px 20px 0 10px;
        @media screen and (max-width: 460px) {
            margin: 30px 0 10px 30px
        }
    }
}

.spinner-border {
    position: absolute !important;
    top: 43% !important;
    left: 43% !important;
    height: 5rem !important;
    width: 5rem !important;
    @media screen and (max-width: 420px) {
        left: 40% !important;
    }
    @media screen and (max-width: 375px) {
        left: 40% !important;
    }
}