.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    // padding: 10px 15px;
    background: #fdfdfd;
    box-shadow: 2px 2px 2px #e2e2e2;
    border: 1px solid #e2e2e2;
    border-radius: 0.3rem;
    margin: 0 20px 10px 0;
    @media screen and (max-width: 460px) {
        width: calc(100% - 10px)
    }
    // cursor: pointer;
    min-width: 30% !important;
    flex: 1 1 auto;
    overflow: hidden;
    .background-img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .content {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        border-radius: 0.25rem;
        // z-index: 999;
        width: fit-content;
        padding: 10px 15px;
        position: absolute;
        background: rgba(233, 233, 233, 0.4);
        .title {
            font-weight: 600;
            opacity: 1;
        }
        .subtitle {
            opacity: 1;
        }
    }
}

.menu-item:hover {
    cursor: pointer;
    .background-img {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .content {
        background: rgba(233, 233, 233, 0.8);
    }
}