.checkout-container {
    height: 100vh;
    // background: #e9e9e9;
    background: #fbfbfb;
    display: flex;
    flex-direction: column;
    .checkout {
        margin: 75px 150px 10px;
        height: 70%;
        overflow: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        @media screen and (max-width: 460px) {
            margin: 30px 0 10px 30px
        }
        .checkout-header {
            display: flex;
            flex-direction: row;
            /* align-items: center; */
            justify-content: space-between;
            /* margin: 10px 15px; */
            border-bottom: 1px solid;
            padding: 15px 35px;
            width: 100%;
            background: #00102a;
            color: #fcfcfc;
            font-weight: 600;
            border-radius: 0.25rem;
            .header-item {
                // margin: 0 10px;
                &.img {
                    width: 10%;
                }
                &.desc {
                    width: 25%;
                }
                &.qty {
                    width: 10%;
                }
                &.price {
                    width: 10%;
                }
                &.remove {
                    width: 10%;
                }
            }
        }
        .checkout-body {
            padding: 0 15px;
            margin: 10px 15px;
            color: #00102a;
            width: 96%;
            display: flex;
            flex-direction: column;
            height: 400px;
            overflow-y: auto;
        }
        .checkout-footer {
            padding: 0 15px;
            margin: 10px 15px;
            color: #00102a;
            width: 96%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .footer-total {
                padding: 10px 15px;
                background: #00102a;
                color: #fcfcfc;
                border-radius: 0.25rem;
            }
        }
    }
    .checkout-container-footer {
        margin: 10px 150px;
        height: 10%;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .footer-card {
            font-size: 13px;
            color: #d63b3b;
            font-weight: 600;
            text-align: center;
        }
        .footer-checkout {
            color: #fff;
            height: 40px;
            padding: 10px 15px;
            border-radius: 0.25rem;
            background: #058322;
            border: none;
            align-items: center;
            display: flex;
            cursor: pointer;
            svg {
                margin-right: 5px;
            }
        }
    }
}