.cart-item {
    display: flex;
    flex-direction: row;
    height: 75px;
    margin-bottom: 10px;
    .cart-item-img {
        width: 75px;
        img {
            height: 100%;
        }
    }
    .cart-item-details {
        display: flex;
        flex-direction: column;
        color: #00102a;
    }
}