a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.spinner-border {
    position: absolute !important;
    top: 43% !important;
    left: 43% !important;
    height: 5rem !important;
    width: 5rem !important;
    @media screen and (max-width: 420px) {
        left: 40% !important;
    }
    @media screen and (max-width: 375px) {
        left: 40% !important;
    }
}