.collection-card {
    display: flex;
    height: 250px;
    margin: 0 10px 10px 0;
    min-width: 24% !important;
    @media screen and (max-width: 1076px) {
        min-width: 48% !important;
    }
    @media screen and (max-width: 460px) {
        min-width: 98% !important;
    }
    .collection-img {
        height: 205px;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
        &:hover {
            cursor: pointer;
            .content {
                display: block;
            }
        }
        .content {
            display: none;
            position: absolute;
            top: 150px;
            background: rgba(252, 252, 252, 0.6);
            &:hover {
                cursor: pointer;
                color: rgb(252, 252, 252);
                background: #00102a;
            }
            .content-text {
                padding: 10px 15px;
                border: 1px solid;
                background: rgba(252, 252, 252, 0.6);
                color: #00102a;
                &:hover {
                    cursor: pointer;
                    color: rgb(252, 252, 252);
                    background: #00102a;
                }
            }
        }
    }
    .collection-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        font-size: 13px;
        .collection-title {}
        .collection-price {}
    }
}