span {
    width: 100%;
    .checkout-button {
        width: 100% !important;
        height: 40px !important;
        // background: #00102a;
        background: #058322;
        color: #ffffff;
        border: none;
        border-radius: 0.25rem;
        padding: 7px 35px;
        @media screen and (max-width: 700px) {
            width: 100%;
            padding: 7px 10px;
        }
        &:hover {
            background: #034b14;
            color: #ffffff;
        }
        span {
            // background: #00102a;
            background: #058322;
            box-shadow: none;
        }
    }
}